<h1>Profile</h1>
<div class="container-fluid">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h4>Skills</h4>
    </div>
    <div class="panel-body">
      <div class="skills">
        <% @user.skills.each do |s| %>
          <%# becareful of the folder %>
          <%= render '/skills/skill', skill: s %>
        <% end %>
      </div>
      <%# if can? :manage, @user %>
        <div id="skill-form">
          <%# byebug %>
          <%= render 'skills/form' %>
        </div>
      <%# end %>


    </div>
  </div>
</div>



