<div class="container">

  <h1 class="title">Edit User Profile</h1>
  <%= render "form" %>
  
  <div>

    <%= link_to "Cancel", user_path(@user), class:"btn btn-default btn-sm"%>
    <%= link_to "Change password", user_password_path(@user), class:"btn btn-danger btn-sm"%>

  </div>

</div>
