<h1>Edit Profile</h1>

<%# Remove Integration %>
<%# Stub from User controller %>
<% @user = User.find 1 %>
<% @skill = Skill.new %>
<%# End Stub %>

<h2>Skills</h2>
<div class="skills">
  <% @user.skills.each do |ans| %>
    <%# becareful of the folder %>
    <%= render '/skills/skill', skill: ans %>
  <% end %>
</div>
<h3>Create an skill</h3>
<div id="skill-form">
  <%= render 'skills/form' %>
</div>
