<%= simple_form_for @company, remote: true do |f| %>

<div class="form-group">
  <%= f.input :name %>
</div>
<div class="form-group">
  <%= f.input :link %>
</div>
<div class="form-group">
  <%= f.submit "Add Company", class: "btn btn-primary btn-sm" %>
</div>
<% end %>
