@import "bootstrap-sprockets";
@import "bootstrap";


.last_message{
  background-color: beige;
}

.approve-btn{
  float: right;
}


/****************** MEDIA QUERY ******************/

  @media (max-width: 544px) {
    .edit-description textarea {
      min-height: 210px;
    }
  }

  @media (min-width: 545px) {
    .edit-summary textarea {
      max-height: 54px;
      resize: none;
    }

    .edit-description textarea {
      min-height: 120px;
      resize: none;
    }
  }


// @media (min-width: 940px) {
  
//    .edit-summary textarea {
//     min-height: 70px;
//     resize: none;
//   }

//   .edit-description textarea {
//     min-height: 200px;
//     resize: none;
//   }
// }






/****************** USER PROFILE ******************/

.profile-container h1.profile-name-header {
  margin: 0;
}

.summary-container p {
  margin: 10px 0;
}
.summary-container .fa {
  font-size: 1.5em;
  color: #ff8080;
}

.seo-icons {
  max-width: 200px;
}

.user-dp {
  margin-bottom: 10px;
}

.available-box .fa{
  padding: 20px 0;
}

.available-box .fa-thumbs-up {
  font-size: 7em;
  color: #ff8080;
}

.available-box .fa-thumbs-down {
  font-size: 7em;
}

/****************** USER EDIT PROFILE ******************/

.notice li {
  list-style-type: none;
}

.edit-dp-container {
  text-align: center;
}

.edit-dp-container img {
  width: 100px;
  display: block;
}
