// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.projects div {
  padding: 2px 0;
}

#new-project #project-form{
  display: none;
}

#project-form div{
  display: inline-block;
}

#project-form .wide {
  width: 75%;
}

// #project-form .tall {
//   height: 10em;
// }
