// Place all the styles related to the skills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.skills div {
  padding: 2px 0;
}

.skills .action{
  padding-left: 0.5em;
}

.skills .description{
  color: grey;
  text-align: right;
  padding-right: 0.5em;
}

#skill-form div{
  display: inline-block;
}

#new-skill #skill-form{
  display: none;
}
