<p>Hello <%= @user.full_name %>,</p>

<p>A potential employer wants to get in touch with you!</p>

<p>Employer email: <%= @employer_info[:email] %></p>

<p>Message: <br> <%= @employer_info[:body] %></p>

<p>Regards</p>

